
<main>
  <h2>{{user.first_name}}'s Profile</h2>
  <p>Email: {{user.email}}</p>

  <section>
    <h3>Bookmarks</h3>
    {{#each user.bookmarks}}
      <h4>{{this.folderName}}</h4>
      <ul>
        {{#each this.tools}}
          <li><a href="/tools/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    {{/each}}
  </section>
</main>
