<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <img src="{{#if user.avatarUrl}}{{user.avatarUrl}}{{else}}/public/images/default-avatar.png{{/if}}" alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                <h4 class="card-title">{{user.username}}</h4>
                <p class="card-text text-muted">{{user.email}}</p>
                <a href="/profile/edit" class="btn btn-outline-primary btn-sm">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" id="profileTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="submitted-tab" data-bs-toggle="tab" data-bs-target="#submitted" type="button" role="tab" aria-controls="submitted" aria-selected="true">My Submissions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="bookmarks-tab" data-bs-toggle="tab" data-bs-target="#bookmarks" type="button" role="tab" aria-controls="bookmarks" aria-selected="false">My Bookmarks</button>
            </li>
        </ul>
        <div class="tab-content" id="profileTabContent">
            <div class="tab-pane fade show active" id="submitted" role="tabpanel" aria-labelledby="submitted-tab">
                <div class="list-group mt-3">
                    {{#if submittedTools}}
                        {{#each submittedTools}}
                            <a href="/tools/{{this._id}}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{this.name}}</h5>
                                    <small>Submitted on {{this.submissionDate}}</small>
                                </div>
                                <p class="mb-1">{{this.summary}}</p>
                                <small>Status: <span class="badge bg-success">{{this.status}}</span></small>
                            </a>
                        {{/each}}
                    {{else}}
                        <p class="text-center p-3">You haven't submitted any tools yet.</p>
                    {{/if}}
                </div>
            </div>
            <div class="tab-pane fade" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
                 <div class="list-group mt-3">
                    {{#if bookmarkedTools}}
                        {{#each bookmarkedTools}}
                            <a href="/tools/{{this._id}}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{this.name}}</h5>
                                    <small><i class="fa-solid fa-star text-warning"></i> {{toFixed this.averageRating 1}}</small>
                                </div>
                                <p class="mb-1">{{this.summary}}</p>
                            </a>
                        {{/each}}
                    {{else}}
                        <p class="text-center p-3">You haven't bookmarked any tools yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
